<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 對應持久層的介面 -->
<mapper namespace="com.ampletec.gambling.report.mapper.GameTableMapper" >


    <select id="list" resultType="com.ampletec.gambling.report.entity.GameTable" >
        SELECT  * FROM GameTable

        <if test="systemID != null and systemID > 0">
            WHERE systemid = #{systemID}
        </if>

    </select>

    <delete id="delete">
        DELETE FROM GameTable
        <if test="systemID != null and systemID > 0">
            WHERE systemid = #{systemID}
        </if>

    </delete>

    <insert id="insert">
        INSERT INTO GameTable
            (systemid,gameid,gametype,gamecode,gametitle)
        VALUES
            (#{systemid},#{gameid},#{gametype},#{gamecode},#{gametitle})
    </insert>




</mapper>